{% for post in list %}
    {% include helper/date.html %}
    {% include helper/category.html %}
    {% if forloop.index < 10 %}
    <a class="card" href="{{post.url}}">
    {% else %}
    <a class="card hidden" href="{{post.url}}">
    {% endif %} 
        <div class="ui image"> 
            <div class="ui {{ cat.color }} ribbon label">{{ cat.title }}</div>
            {% if forloop.index < 10 %}
            <img src="images/post{{post.url}}/{{post.thumb}}">
            {% else %}
            <img data-src="images/post{{post.url}}/{{post.thumb}}">
            {% endif %} 
        </div>
        <div class="content">
            <div class="header">{{post.title}}</div>
            <div class="description"> {{ post.summary }} </div>
        </div>
        <div class="extra content"> 
            <span class="right floated"> {{ date }} </span> 
            <span> <i class="user icon"></i> {{post.author}} </span> 
        </div>
    </a>
{% endfor %}