<!DOCTYPE html>
<html>
    <head>
        <title>SUDO Portal</title>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        <div class="ui container">
            <div class="ui grid equal width stackable">
                <div class="row computer only">
                    <div class="column">
                        {% include widget/slider.html %}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui cards link two stackable">

                            {% assign list = site.posts %}
                            {% include list/card.html %}

                        </div>
                    </div>
                    <div class="column five wide">

                      <!---neynefes indirme bağlantısı denemesi--->

                      <div class="ui card">
                        <div class="content">
                          <img class="ui avatar image" src="{{ site.themeDir }}/images/logo-ubuntu_cof-orange-hex.svg"> Ubuntu'nun Son Güncel Sürümü
                        </div>
                        <div class="image">
                          <img src="{{ site.themeDir }}/images/16-04.svg">
                        </div>
                        <div class="extra content">
                          <button class="tiny ui button">
                                  <i class="cloud download icon"></i>
                            32 Bit İndir</button>

                          <button class="tiny ui right button">
                                  <i class="cloud download icon"></i>
                            64 Bit İndir</button>
                        </div>
                      </div>

                      <div class="ui card">
                        <div class="content">
                          <img class="ui avatar image" src="{{ site.themeDir }}/images/logo-ubuntu_cof-orange-hex.svg"> Ubuntu'nun Uzun Dönem Destekli Sürümü
                        </div>
                        <div class="image">
                          <img src="{{ site.themeDir }}/images/14-04.png">
                        </div>
                        <div class="extra content">
                          <button class="tiny ui button">
                                  <i class="cloud download icon"></i>
                            32 Bit İndir</button>

                          <button class="tiny ui right button">
                                  <i class="cloud download icon"></i>
                            64 Bit İndir</button>
                        </div>
                      </div>

                      <!---neynefes indirme bağlantısı denemesi--->


                        <h3 class="ui header orange dividing">
                          Duyurular
                        </h3>
                        <div class="ui items divided link">
                            {% assign list = site.data.news %}
                            {% include list/item.html %}
                        </div>

                        <h3 class="ui header orange dividing">
                          En Çok Okunanlar
                        </h3>
                        <div class="ui items divided link">
                            {% assign list = site.data.mostRead %}
                            {% include list/item.html %}
                        </div>
                        <h3 class="ui header orange dividing">
                          Forumdan son yazılar
                        </h3>

                        <div id="rssForum" class="ui list">

                        </div>


                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}

    </body>
</html>
