{% assign theme = site.data[site.theme].settings %}{%
assign themeT = site.data[site.theme].settings[page.type] %}{%
assign layout = site.data[site.theme][page.layout] %}{%
assign layoutT = site.data[site.theme][page.layout][page.type] %}{%
include {{site.data.settings.hook.dir}}/_theme.html hookPos="filter" %}{%
include {{site.data.settings.hook.dir}}/_extension.html hookPos="filter" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ themeT.title | replace: "*title", page.title }}</title>
        {% if themeT.description %}<meta name="description" content="{{ themeT.description | replace: '*title', page.title }}" />{% endif %}
        {% assign level = page.url | append: '.' | split: '/'  | size %}{% if level != 2 %}<base href="/">{% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='{{site.url}}feed.xml' rel='alternate' type='application/atom+xml'>
        <link rel="stylesheet" href="{{ site.themeDir }}/css/main.css">
        <link rel="stylesheet" href="{{ site.themeDir }}/css/ubuntu-tr.css">
        <link rel="stylesheet" href="{{ site.themeDir }}/css/semantic.min.css">
        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="head" %}
        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="head" %}
    </head>
    <body>
        {% include {{site.blockDir}}/header.html %}
        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="header" %}
        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="header" %}
        <div class="{% include {{site.data.settings.style.dir}}/_get.html get='container' %}">
            <div class="{% include {{site.data.settings.style.dir}}/_get.html get='grid' %}">
                <div class="{% include {{site.data.settings.style.dir}}/_get.html get='row1' %}">
                    <div class="{% include {{site.data.settings.style.dir}}/_get.html get='row1column' %}">
                        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="top" %}
                        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="top" %}
                    </div>
                </div>
                <div class="{% include {{site.data.settings.style.dir}}/_get.html get='row2' %}">
                    <div class="{% include {{site.data.settings.style.dir}}/_get.html get='row2column1' %}">
                        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="main" %}
                        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="main" %}
                    </div>
                    <div class="{% include {{site.data.settings.style.dir}}/_get.html get='row2column2' %}">
                        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="sidebar" %}
                        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="sidebar" %}
                    </div>
                </div>
            </div>
        </div>
        {% include {{site.blockDir}}/footer.html %}
        <script src="{{ site.themeDir }}/js/jquery-2.2.0.min.js"></script>
        <script src="{{ site.themeDir }}/js/semantic.min.js"></script>
        <script src="{{ site.themeDir }}/js/ubuntu-tr.js"></script>
        <script src="{{ site.themeDir }}/js/pagination.js"></script>
        {% include {{site.data.settings.hook.dir}}/_theme.html hookPos="foot" %}
        {% include {{site.data.settings.hook.dir}}/_extension.html hookPos="foot" %}
    </body>
</html>
