<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <base href="/">
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        <main class="ui container">
            <div class="ui grid equal width stackable">
                <div class="column">
                    <div class="ui cards link two stackable infinite">
                        {% assign list = page.path | remove:'_other/' | split:"/" %}
                        {% assign list = site.posts | where: list[0], page.title %}
                        {% include list/card.html %}

                    </div>
                </div>
                <div class="column five wide computer only">

                    <h3 class="ui header orange dividing">
                      En Çok Okunanlar
                    </h3>
                    <div class="ui items divided link">
                        {% assign list = site.data.mostRead | where:'category', 'home' %}
                        {% include list/item.html %}

                    </div>
                    


                </div>
            </div>
        </main>
        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>
