{% include helper/date.html %}
{% include helper/category.html %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
        <link rel="stylesheet" href="{{ site.themeDir }}/css/tocify.css">
    </head>
    <body>
        {% include header.html %}
        <main class="ui container">
            <div class="ui grid equal width stackable">
                <div class="column">
                    <div class="ui card fluid">
                        <div class="content">
                            <h1 class="ui header">{{ page.title }}</h1>
                            <div class="meta">
                                <span><b class="ui header tiny orange">Yazar:</b> <a href="{% assign author = site.other | where: 'title', page.author %}{{ author[0].url }}">{{ page.author }}</a></span>
                                <span><b class="ui header tiny orange">Kategori:</b> <a href="{{cat.url}}">{{cat.title}}</a></span>
                                <span class="right floated">{{ date }} {{ page.date | date: "%-Y" }} tarihinde yayımlandı.</span>
                            </div>
                            <div class="description">
                                {{page.summary}}
                            </div>
                        </div>
                        <div class="image">
                            <img src="images/post{{page.url}}/{{page.image}}">
                        </div>
                        <article class="markdown-body">
                            {{ content }}
                        </article>
                        <div class="extra content ui labels grey basic tiny">
                            {% include helper/tag.html %}
                        </div>
                    </div>
                    <div class="ui segment">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                             */
                            var disqus_config = function () {
                                this.page.identifier = '{{ page.url }}';
                            };
                            (function() {  // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');

                                s.src = '//{{ site.disqus_id }}.disqus.com/embed.js';

                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
                <div class="column five wide computer only">
                    <h3 class="ui header orange dividing">
                      Benzer Yazılar
                    </h3>
                    <div id="rp" class="ui items divided link">

                    </div>
                    <div id="toc" class="ui items divided link">

                    </div>

                </div>
            </div>
        </main>
        {% include footer.html %}
        {% include foot.html %}
        <script src="{{ site.themeDir }}/js/relatedPosts.js"></script>
        <script src="{{ site.themeDir }}/js/jquery-ui.min.js"></script>
        <script src="{{ site.themeDir }}/js/tocify.js"></script>
        <script>$("#toc").tocify({context: ".markdown-body", selectors: "h2, h3, h4", scrollTo: "100", extendPage: false});</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ubuntutr"></script>
    </body>
</html>
