{% capture cache %}
	{% capture orderedList %}
		{% for bbb in site.data.settings %}
			{% if bbb[1].active == true %}
				{% assign aaa = bbb[1].hook[page.type][include.hookPos] %} 
	    		{% if aaa != nil %}
					{% assign order = bbb[1].hook[page.type][include.hookPos].order %}
					{% if order == nil %}{% assign order = 3 %}{% endif %}
					{{  order }},{{ bbb[0] }}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endcapture %}
	{% assign orderedList = orderedList | split:' ' | sort %}
	{% for b in orderedList %}
		{% assign bbb = b | split: ',' | last %}
		{% assign bbb = site.data.settings[bbb] %}
		{% assign aaa = bbb.hook[page.type][include.hookPos] %} 
    	{% if aaa.settings.headerLayout != nil %}
    		{% include {{ site.blockDir }}/{{ aaa.settings.headerLayout }}.html title=aaa.settings.header %}
    	{% endif %}
        {% include {{bbb.dir}}/_{{aaa.name}}.html param=aaa.settings %}

	{% endfor %}
{% endcapture %}{{cache | strip_newlines}}