---
post: css
---
/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */

@media only screen and (min-width: 1200px) {
    div.tocify {
        width: 332px;
    }
}

#toc {counter-reset: ul2}
#toc > ul {counter-reset: ul3}

#toc > ul > li > a:before {counter-increment: ul2; content: counter(ul2) ". "}
#toc > ul > ul > li > a:before {counter-increment: ul3; content: counter(ul2) "." counter(ul3) ". "}

/* The Table of Contents container element */
.tocify {
    width: 272px;
    max-height: 90%;
    overflow: auto;
    margin-left: 2%;
    border: 1px solid #ccc;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    overflow: hidden;
}

.tocify-item.active {
    background-color: #1e70bf;
}
.tocify-item.active > a {
    color: white;
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    color: #4183C4;
}

/* Top level header elements */
.tocify-header {
    text-indent: 10px;
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
    text-indent: 20px;
    display: none;
}

/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
    font-size: 11px;
}

/* Further indents second level subheader elements. */
.tocify-subheader .tocify-subheader {
    text-indent: 30px;
}

/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */
.tocify-subheader .tocify-subheader .tocify-subheader {
    text-indent: 40px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a, .nav-list .nav-header {
    margin: 0px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
    padding: 5px;
    white-space: nowrap;
}