@import url(https://fonts.googleapis.com/css?family=Ubuntu%20Mono:400,700,400italic,700italic&subset=latin);

html > body {
    background: url("../images/pattern6.png") repeat scroll 0 0 #F5F5F5;
}

.ui.card > .markdown-body, .ui.card .description {
    color: #606c76;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
}
.ui.card > .markdown-body {
    padding: 20px;
}

.markdown-body pre.highlight:before {
    content: '\f121';
    font-family: Icons;
    font-size: 14px;
    top: 0;
    right: 0;
    position: absolute;
    padding: 5px 10px;
    background-color: #ededed;
}
.markdown-body pre.highlight {
    padding-top:30px;
}

.markdown-body div.highlighter-rouge {
    position: relative;
}

.markdown-body pre.highlight code {
    color: #d4d4d4;
}

.ui.cards.infinite > .card.hidden {
    display: none !important;
}

.ui.cards.infinite > .card > .ui.image > .ui.label {
    z-index: 1;
}

.dimmer p {
    text-align: justify;
    font-size: 1.2em;
    padding: 0 10px;
}
.dimmer h2.ui.header {
    font-size: 1.6em;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
    .ui.cards.infinite > .card > .ui.image > img {
        width: 370px;
        height: 220px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.cards.infinite > .card > .ui.image > img {
        width: 303px;
        height: 181px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.cards.infinite > .card > .ui.image > img {
        width: 348px;
        height: 208px;
    }
}

@media only screen and (max-width: 768px) {
    .ui.card > .markdown-body, .ui.card .description {
        color: #606c76;
        font-size: 14px;
        line-height: 1.2;
    }
}
