<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
    </head>
    <body class="beyaz">

        {% include header.html %}
        <div>
            
            <!-- Place somewhere in the <body> of your page -->
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="http://i.imgur.com/UOA74W4.jpg" />
                    </li>
                    <li>
                        <img src="http://i.imgur.com/rYfVN5N.jpeg" />
                    </li>
                </ul>
                <script>
                // Can also be used with $(document).ready()
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide"
                    });
                });
                </script>
            </div>

            <main>
                {{ content }}
            </main>
            <aside>
                <div class="kutu">
                    <div class="ana baslik2">İndirme Linkleri</div>

                    <div class="ana baslik2">Sık Sorulan Sorular</div>
                    <ul class="liste tip5 kucuk kutu">
                        {% for post in site.categories['k1'] %}
                            {% include liste.html %}
                        {% endfor %}
                    </ul>
                    <div class="ana baslik2">Forumdan Son Yazılar</div>
                    <ul class="" id="rssForum"></ul>
                </div>
            </aside>
            <div style="clear: both;"></div>
        </div>
        {% include footer.html %}

    </body>
</html>
