<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
    </head>
    <body class="beyaz">

        {% include header.html %}
        <div>
            <main class="ileti">

                <h1>{{ page.title }}</h1>
                <p class="bilgi">{{page.summary}}</p>
                <!-- Whitespace added for readability -->
                {% assign m = page.date | date: "%-m" %}
                {% case m %}
                  {% when '1' %}{% assign m = 'Ocak' %}
                  {% when '2' %}{% assign m = 'Şubat' %}
                  {% when '3' %}{% assign m = 'Mart' %}
                  {% when '4' %}{% assign m = 'Nisan' %}
                  {% when '5' %}{% assign m = 'Mayıs' %}
                  {% when '6' %}{% assign m = 'Haziran' %}
                  {% when '7' %}{% assign m = 'Temmuz' %}
                  {% when '8' %}{% assign m = 'Ağustos' %}
                  {% when '9' %}{% assign m = 'Eylül' %}
                  {% when '10' %}{% assign m = 'Ekim' %}
                  {% when '11' %}{% assign m = 'Kasım' %}
                  {% when '12' %}{% assign m = 'Aralık' %}
                {% endcase %}
                <p class="bilgi">{{ yazar.author }} tarafından,
                    {% for cat_name in page.categories %}
                        {% assign cats = site.kategori | where:'code',cat_name %}
                        {% assign cat =  cats[0] %}
                        <a href="{{cat.url}}">{{cat.title}}</a>
                    {% endfor %}
                    kategorisi altında, {{ page.date | date: "%-d" }} {{ m }} {{ page.date | date: "%Y" }} tarihinde yayınlandı.
                </p>
                <p class="bilgi"> </p>
                <div><img src="{{page.image}}" style="width: 100%;" /></div>
                <div class="ileti markdown-body">
                    {{ content }}
                </div>
                <p class="etiket">
                    {% for tag_name in page.tags %}
                        {% assign tags = site.etiket | where:'name',tag_name %}
                        {% assign tag =  tags[0] %}
                        <a href="{{tag.url}}">{{tag.title}}</a>
                    {% endfor %}
                </p>
                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    var disqus_config = function () {
                        this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                        //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    (function() {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        
                        s.src = '//bugra9.disqus.com/embed.js';
                        
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
            </main>
            <aside>
                <div class="kutu">
                    <div class="ana baslik2">En Çok Okunan Yazılar</div>
                    <ul class="liste tip6 kutu">
                        {% for post in site.categories['k1'] %}
                            {% include liste.html %}
                        {% endfor %}
                    </ul>
            
                </div>
            </aside>
            <div style="clear: both;"></div>
        </div>
        {% include footer.html %}

    </body>
</html>
